body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
  /*
    .border{
        border: 1px solid #000000 !important;
    } */ }
  body a {
    color: #000; }

.container-fluid {
  width: 100%;
  padding-right: 63px;
  padding-left: 63px;
  margin-right: auto;
  margin-left: auto;
  border-color: #EDF1FF; }

.font-hero-one span {
  font-weight: 700; }

.nav-hero {
  padding: 0; }
  .nav-hero .nav-item {
    border: 1px solid #EDF1FF;
    border-top: 0; }

.navbar-hero .nav-link {
  padding: 20px 10px; }
  .navbar-hero .nav-link a {
    color: #000; }

.navbar-hero .nav-item {
  color: #000; }
  .navbar-hero .nav-item .active {
    color: #C17A74; }

.border-top .nav-item .nav-link {
  color: #000; }

.border-top .nav-link:hover, .border-top .active {
  color: #C17A74 !important; }

.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

#carouselSlideOne img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.inner {
  overflow: hidden; }

.inner img {
  transition: all .5s ease; }

.inner:hover img {
  transform: scale(1.3); }

.shop-one {
  position: relative; }

.shop-offer-one {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }

.shop-two {
  position: relative; }

.shop-offer-two {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute; }

.product-section {
  position: relative;
  display: inline-block; }

.product-section::before {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 2px;
  width: 50px;
  background: #000000; }

.product-section::after {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 2px;
  width: 50px;
  background: #000; }

.product .card-footer .btn-sm:hover {
  color: #C17A74; }

.footer-hr {
  background: #fff;
  height: 1px; }

@media (max-width: 1200px) {
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-color: #EDF1FF; } }
